# Credenciais do Banco de Dados
YOURLS_DB_USER=yourls_cluster_user
YOURLS_DB_PASS=SuaSenhaForteAqui123!
MYSQL_ROOT_PASSWORD=RootSenhaSuperGigaSegura2026#

# Acesso ao painel do YOURLS
YOURLS_USER=admin
YOURLS_PASS=admin_pass_segura
YOURLS_SITE=http://seu-dominio-ou-ip-publico.com